<!-- The content below is only a placeholder and can be replaced. -->

<!--
  <div style="text-align:center"></div>
    <h1>{{curso.nombre}}</h1>
    <p>Duracion: </p><strong>{{curso.duracion}}</strong> horas
  </div>
-->

<h1>{{ titulo }}</h1>
<ul>
  <li *ngFor="let curso of cursos" (click)="seleccionar(curso)">
    <h2>{{ curso.nombre | uppercase }}</h2>
    <p>{{ curso.descripcion }}</p>
    <p *ngIf="curso.duracion === 8; else: elseBlock">Jornada completa</p>
    <ng-template #elseBlock>Media Jornada</ng-template>
    <p *ngIf="curso.duracion === 120">Tres semanas</p>
  </li>
</ul>

<button (click)="value = 1">select - 1</button>
<button (click)="value = 2">select - 2</button>
<button (click)="value = 3">select - 3</button>
<h5>You selected : {{ value }}</h5>
Directivas Estructurales: NgSwitch
<hr />
<div [ngSwitch]="value">
  <div *ngSwitchCase="1">
    1. Template - <b>{{ value }}</b>
  </div>
  <div *ngSwitchCase="2">
    2. Template - <b>{{ value }}</b>
  </div>
  <div *ngSwitchCase="3">
    3. Template - <b>{{ value }}</b>
  </div>
  <div *ngSwitchDefault>Default Template</div>
</div>
